# **Import Library**

In [58]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import tensorflow as tf
from tensorflow import keras
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from joblib import dump, load
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report,accuracy_score,roc_curve,confusion_matrix

In [59]:
twitter_df_train = pd.read_csv('csv_result-Twitter_dataset.csv', sep=';')

In [60]:
twitter_df_train.head()

,id,protected;,followers_count;,friends_count;,favourites_count;,profile_use_background_image;,hashtags_average;,mentions_average;,urls_average;,description;,statuses_count;,listed_count;,verified;,contributors_enabled;,default_profile;,default_profile_image;,is_translator;,is_fake
0,1,False,2232,414,4227,True,0.10,0.85,0.35,101,3415,2,False,False,False,False,False,False
1,2,False,19,128,479,True,0.05,0.60,0.00,0,140,0,False,False,True,False,False,False
2,3,False,121,53,1567,True,0.20,0.35,0.00,67,1242,0,False,False,False,False,False,False
3,4,False,4112,710,1129,True,0.75,0.50,0.00,35,8066,3,False,False,False,False,False,False
4,5,False,304,175,3424,True,0.85,1.10,0.00,69,1525,0,False,False,True,False,False,False

# **Data Preprocessing**

In [61]:
twitter_df_train.is_fake.value_counts()

True     501
False    499
Name: is_fake, dtype: int64

In [62]:
# Getting dataframe info
twitter_df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             1000 non-null   int64
 1   protected;                     1000 non-null   bool
 2   followers_count;               1000 non-null   int64
 3   friends_count;                 1000 non-null   int64
 4   favourites_count;              1000 non-null   int64
 5   profile_use_background_image;  1000 non-null   bool
 6   hashtags_average;              1000 non-null   float64
 7   mentions_average;              1000 non-null   float64
 8   urls_average;                  1000 non-null   float64
 9   description;                   1000 non-null   int64
 10  statuses_count;                1000 non-null   int64
 11  listed_count;                  1000 non-null   int64
 12  verified;                      1000 non-null   bool
 13  contributors_enabled;          1000 non-null   bool
 14  default_profile;               1000 non-null   bool
 15  default_profile_image;         1000 non-null   bool
 16  is_translator;                 1000 non-null   bool
 17  is_fake                        1000 non-null   bool
dtypes: bool(8), float64(3), int64(7)
memory usage: 86.1 KB

In [63]:
# Get the statistical summary of the dataframe
twitter_df_train.describe()

,id,followers_count;,friends_count;,favourites_count;,hashtags_average;,mentions_average;,urls_average;,description;,statuses_count;,listed_count;
count,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1000.000000
mean,500.500000,2.621871e+04,3444.256000,5374.879000,0.786950,0.526740,0.421050,52.671000,4.927902e+04,31.306000
std,288.819436,1.799834e+05,22837.873116,17676.503856,1.280415,0.657143,0.457535,48.047615,3.630076e+05,173.721206
min,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,250.750000,5.475000e+01,21.000000,2.000000,0.050000,0.000000,0.050000,9.000000,1.560000e+02,0.000000
50%,500.500000,3.790000e+02,160.500000,162.000000,0.255000,0.435000,0.200000,42.000000,1.372500e+03,1.000000
75%,750.250000,2.543500e+03,669.250000,2303.750000,0.850000,0.800000,0.950000,81.000000,6.805500e+03,6.000000
max,1000.000000,2.986450e+06,412490.000000,189306.000000,8.100000,8.850000,2.000000,171.000000,7.425857e+06,2633.000000

In [64]:
# Checking if null values exist
twitter_df_train.isnull().sum()

id                               0
protected;                       0
followers_count;                 0
friends_count;                   0
favourites_count;                0
profile_use_background_image;    0
hashtags_average;                0
mentions_average;                0
urls_average;                    0
description;                     0
statuses_count;                  0
listed_count;                    0
verified;                        0
contributors_enabled;            0
default_profile;                 0
default_profile_image;           0
is_translator;                   0
is_fake                          0
dtype: int64

In [65]:
# Get the number of unique values in "is_fake" (Target column)
twitter_df_train['is_fake'].value_counts()

True     501
False    499
Name: is_fake, dtype: int64

In [66]:
# Preparing Data to Train the Model

# Training and testing dataset (inputs)
X_train = twitter_df_train.drop(columns = ['is_fake'])
X_train
# Training and testing dataset (Outputs)
y_train = twitter_df_train['is_fake']

In [67]:
# Scale the data before training the model Scaling data means to make all values in all variables within the same range (around 0-1)
from sklearn.preprocessing import StandardScaler, MinMaxScaler
scaler_x = StandardScaler()
X_train = scaler_x.fit_transform(X_train)
y_train = tf.keras.utils.to_categorical(y_train, num_classes = 2)

In [68]:
features = pd.DataFrame(X_train)
features.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,-1.730320,-0.089803,-0.133338,-0.132752,-0.064971,0.457373,-0.536774,0.492163,-0.155366,1.006360,-0.126408,-0.168780,-0.14646,0.0,-1.139671,-0.263664,0.0
1,-1.726856,-0.089803,-0.145640,-0.145281,-0.277110,0.457373,-0.575844,0.111538,-0.920719,-1.096774,-0.135434,-0.180298,-0.14646,0.0,0.877446,-0.263664,0.0
2,-1.723391,-0.089803,-0.145073,-0.148567,-0.215528,0.457373,-0.458636,-0.269087,-0.920719,0.298374,-0.132397,-0.180298,-0.14646,0.0,-1.139671,-0.263664,0.0
3,-1.719927,-0.089803,-0.122888,-0.119785,-0.240319,0.457373,-0.028872,-0.040712,-0.920719,-0.367965,-0.113589,-0.163021,-0.14646,0.0,-1.139671,-0.263664,0.0
4,-1.716463,-0.089803,-0.144056,-0.143222,-0.110421,0.457373,0.049267,0.872788,-0.920719,0.340020,-0.131617,-0.180298,-0.14646,0.0,0.877446,-0.263664,0.0

# **Train the Model**

In [69]:
x_train, x_test, y_train, y_test = train_test_split(features, y_train, test_size = 0.2, random_state = 42)

In [70]:
#The reason was because the decision tree has soem parameters that we can optimize later, like the max_FEA in which we are gonna apply the AHA optimizer
model = RandomForestClassifier(n_estimators=300, bootstrap = True, max_features = 'sqrt')
model.fit(x_train, y_train)
y_pred = model.predict(x_test)

In [71]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_test, y_pred)
print("Accuracy :" , accuracy)
print(classification_report(y_test, y_pred))

Accuracy : 0.93
              precision    recall  f1-score   support

           0       0.93      0.93      0.93        96
           1       0.93      0.93      0.93       104

   micro avg       0.93      0.93      0.93       200
   macro avg       0.93      0.93      0.93       200
weighted avg       0.93      0.93      0.93       200
 samples avg       0.93      0.93      0.93       200

# **Implementing AHA**

In [72]:
def objective_function(x):
    # Define the objective function that you want to optimize, accuracy/precision/recall...
    model = RandomForestClassifier(n_estimators=x, bootstrap = True, max_features = 'sqrt')
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    accuracy=accuracy_score(y_test, y_pred)
    return accuracy

In [73]:
import random
def hummingbird_algorithm(objective_function, bounds, population_size, max_iterations):
    # Initialize population
    population = np.random.uniform(bounds[0], bounds[1], (population_size, 1)) 
    best_solution = None
    best_fitness = float('inf')
    for iteration in range(max_iterations):
        # Flapping wing motion and nectar source update
        for i in range(population_size): #for each hummingbird in the population
            # Flapping wing motion is used to generate new solutions
            numberEstimators = int(population[i])
            new_solution = numberEstimators + random.randint(bounds[0],bounds[1]) #adding a random perturbation to the solution
            new_fitness = objective_function(new_solution)
            # Nectar source update is used to update the population 
            if new_fitness < objective_function(numberEstimators):
                population[i] = new_solution
            # Update best solution
            if new_fitness < best_fitness:
                best_solution = new_solution
                best_fitness = new_fitness
    return best_solution, best_fitness

In [74]:
bounds = [1, 10]
population_size = 10
max_iterations = 10
best_solution, best_fitness = hummingbird_algorithm(objective_function, bounds, population_size, max_iterations)
print("Best solution:", best_solution)
print("Best fitness:", best_fitness)

Best solution: 4
Best fitness: 0.825

In [75]:
#The reason was because the decision tree has soem parameters that we can optimize later, like the max_FEA in which we are gonna apply the AHA optimizer
model = RandomForestClassifier(n_estimators=300, bootstrap = True, max_features = 'sqrt')
model.fit(x_train, y_train)
y_pred = model.predict(x_test)

In [76]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_test, y_pred)
print("Accuracy :" , accuracy)
print(classification_report(y_test, y_pred))

Accuracy : 0.94
              precision    recall  f1-score   support

           0       0.93      0.95      0.94        96
           1       0.95      0.93      0.94       104

   micro avg       0.94      0.94      0.94       200
   macro avg       0.94      0.94      0.94       200
weighted avg       0.94      0.94      0.94       200
 samples avg       0.94      0.94      0.94       200